*{
    box-sizing: border-box;
}
.tcontainer{
    width: 95%;
    margin: auto;
}
.tcontainer h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dealsWrapper{
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
} 
