.ccontainer{
    width: 90%;
    margin: auto;
}
.categoryWrapper{
    margin: 2% auto 0px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ccontainer h2{
    text-align: center;
    margin-top: 20px;
}