*{
    box-sizing: border-box;
}
.fcontainer{
    width: 90%;
    margin: auto;
}
.productsWrapper .productssort{
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: 1%;
}
.productsWrapper .productssort h1{
    text-transform: uppercase;
}
.productsWrapper .productssort p{
    margin-left: 20%;

}
.productsWrapper .productssort button{
    margin-left: 3%;
    padding: 4px 0px 4px 0px;
    /* height: 20px; */
    width: 120px;
    font-size: 12px;
    background-color: white;
    border-radius: 5px;
}
.productsWrapper .productssort button:hover{
        color: blue;
        border: solid 2px blue;
}

.productsWrapper .productsitem{
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
} 